<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kyr.company.gradlesampletype">

    <application
        tools:replace="label,icon"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradleSampletype">

        <activity
            android:name=".paid.MainActivity"
            android:exported="true">

        </activity>

    </application>

</manifest>